<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="../vendor/foundation.min.css">
    <script src="../vendor/angular.min.js"></script>
    <script src="scope.js"></script>
  </head>
  <body>
    <div ng-app="scopeApp">
      <div ng-controller="scopeCtrl">
        <button ng-click="show=true">show</button>

        <label>Username</label>
        <input type="text" ng-model="username">

        <dialog title="Hello {{username}}."
          visible="show"
          on-cancel="show = false"
          on-ok="show = false; doSomething()">
        </dialog>
      </div>

      <script type="text/ng-template" id="dialog.html">
        <div ng-show="visible">
          <h3>{{title}}</h3>
          <div class="body" ng-transclude></div>
          <div class="footer">
            <button ng-click="onOk()">Save changes</button>
            <button ng-click="onCancel()">Close</button>
          </div>
        </div>
      </script>

    </div>
  </body>
</html>
